body {font-family: 'Arial', sans-serif;  
}  
  
.card {border-radius: 15px;  
}  
  
.btn-primary {background-color: #6c63ff;border: none;  
}  
  
.btn-primary:hover {background-color: #5a54e1;  
}  
  
footer {background-color: #f8f9fa;position: fixed;bottom: 0;width: 100%;padding: 0px 0;  
}  